In [136]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [137]:
df = pd.read_csv('dados_avc.csv')
df.head(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
7,10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
8,27419,Female,59.0,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
9,60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1

In [138]:
df_ = df.loc[df['work_type'] == 'children']
df_.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
162,69768,Female,1.32,0,0,No,children,Urban,70.37,NaN,Unknown,1
245,49669,Female,14.00,0,0,No,children,Rural,57.93,30.9,Unknown,1
249,30669,Male,3.00,0,0,No,children,Rural,95.12,18.0,Unknown,0
282,33759,Female,3.00,0,0,No,children,Urban,73.74,16.0,Unknown,0
290,55680,Male,13.00,0,0,No,children,Urban,114.84,18.3,Unknown,0

In [139]:
# Preencher valores ausentes em 'bmi' com a média
df['bmi'].replace('N/A', float('nan'), inplace=True)
df['bmi'].fillna(df['bmi'].mean(), inplace=True)

# Converter colunas categóricas usando one-hot encoding
df = pd.get_dummies(df, columns=['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status'], drop_first=True)
df.head(20)

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Male,gender_Other,ever_married_Yes,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,9046,67.0,0,1,228.69,36.600000,1,True,False,True,False,True,False,False,True,True,False,False
1,51676,61.0,0,0,202.21,28.893237,1,False,False,True,False,False,True,False,False,False,True,False
2,31112,80.0,0,1,105.92,32.500000,1,True,False,True,False,True,False,False,False,False,True,False
3,60182,49.0,0,0,171.23,34.400000,1,False,False,True,False,True,False,False,True,False,False,True
4,1665,79.0,1,0,174.12,24.000000,1,False,False,True,False,False,True,False,False,False,True,False
5,56669,81.0,0,0,186.21,29.000000,1,True,False,True,False,True,False,False,True,True,False,False
6,53882,74.0,1,1,70.09,27.400000,1,True,False,True,False,True,False,False,False,False,True,False
7,10434,69.0,0,0,94.39,22.800000,1,False,False,False,False,True,False,False,True,False,True,False
8,27419,59.0,0,0,76.15,28.893237,1,False,False,True,False,True,False,False,False,False,False,False
9,60491,78.0,0,0,58.57,24.200000,1,False,False,True,False,True,False,False,True,False,False,False
10,12109,81.0,1,0,80.43,29.700000,1,False,False,True,False,True,False,False,False,False,True,False
11,12095,61.0,0,1,120.46,36.800000,1,False,False,True,False,False,False,False,False,False,False,True
12,12175,54.0,0,0,104.51,27.300000,1,False,False,True,False,True,False,False,True,False,False,True
13,8213,78.0,0,1,219.84,28.893237,1,True,False,True,False,True,False,False,True,False,False,False
14,5317,79.0,0,1,214.09,28.200000,1,False,False,True,False,True,False,False,True,False,True,False
15,58202,50.0,1,0,167.41,30.900000,1,False,False,True,False,False,True,False,False,False,True,False
16,56112,64.0,0,1,191.61,37.500000,1,True,False,True,False,True,False,False,True,False,False,True
17,34120,75.0,1,0,221.29,25.800000,1,True,False,True,False,True,False,False,True,False,False,True
18,27458,60.0,0,0,89.22,37.800000,1,False,False,False,False,True,False,False,True,False,True,False
19,25226,57.0,0,1,217.08,28.893237,1,True,False,False,False,False,False,False,True,False,False,False

In [140]:
X = df.drop('stroke', axis=1)
y = df['stroke']

In [141]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [142]:
model = LogisticRegression(max_iter=1000)  # Aumentar max_iter se necessário
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [143]:
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Acurácia do modelo: {accuracy * 100:.2f}%")

Acurácia do modelo: 94.06%

In [144]:
# Pegar os coeficientes (pesos) do modelo treinado
coeficientes = model.coef_[0]

# Criar um DataFrame com os nomes das características e seus coeficientes correspondentes
coeficientes_features = pd.DataFrame({"Feature": X.columns, "Coeficiente": coeficientes})

# Calcular o valor absoluto dos coeficientes
coeficientes_features['Coeficiente_abs'] = coeficientes_features['Coeficiente'].apply(abs)

# Ordenar os coeficientes em ordem decrescente de valor absoluto
coeficientes_features = coeficientes_features.sort_values("Coeficiente_abs", ascending=False)

# Exibir as características com os maiores coeficientes (em valor absoluto)
coeficientes_features.head(40)

                           Feature  Coeficiente  Coeficiente_abs
2                     hypertension     0.835439         0.835439
12              work_type_children    -0.747260         0.747260
13            Residence_type_Urban    -0.721233         0.721233
8                 ever_married_Yes    -0.681784         0.681784
15     smoking_status_never smoked    -0.671504         0.671504
3                    heart_disease     0.646058         0.646058
11         work_type_Self-employed    -0.448329         0.448329
10               work_type_Private    -0.312497         0.312497
6                      gender_Male    -0.308497         0.308497
14  smoking_status_formerly smoked    -0.095545         0.095545
5                              bmi    -0.091075         0.091075
16           smoking_status_smokes     0.055005         0.055005
1                              age     0.049307         0.049307
9           work_type_Never_worked    -0.025166         0.025166
4                avg_glucose_level     0.002766         0.002766
0                               id    -0.000008         0.000008
7                     gender_Other     0.000000         0.000000

In [145]:
# SE DROPAR A COLUNA DE MORAR NA CIDADE OU NÃO, MUDA A ACURÁCIA DO MODELO?
X = df.drop(['stroke', 'Residence_type_Urban'], axis=1)
y = df['stroke']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
model = LogisticRegression(max_iter=1000)  # Aumentar max_iter se necessário
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [146]:
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Acurácia do modelo: {accuracy * 100:.2f}%")

Acurácia do modelo: 94.26%